extends layout
block content

    header.masthead
      .container.d-flex.h-100.align-items-center
        .mx-auto.text-center
          h1.mx-auto.my-0.text-uppercase RED BICICLETAS
          h2.text-white-50.mx-auto.mt-2.mb-5 La primera red online de ciclistas urbanos.
          a.btn.btn-primary.js-scroll-trigger(href='#about') Get Started
    // About
    section#about.about-section.text-center
      .container
        .row
          .col-lg-8.mx-auto
            h2.text-white.mb-4 RED BICICLETAS
            p.text-white-50
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              a(href='https://startbootstrap.com/template-overviews/grayscale/') the preview page
              |                             . The theme is open source, and you can use it for any purpose, personal or commercial.
        
    // Projects
    section#projects.projects-section.bg-light
        #mapid
    // Signup
    section#signup.signup-section
      .container
        .row
          .col-md-10.col-lg-8.mx-auto.text-center
            i.far.fa-paper-plane.fa-2x.mb-2.text-white
            h2.text-white.mb-5 ¡Subscríbete para recibir notificaciones!
            form.form-inline.d-flex
              input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email' placeholder='Ingresa tu correo electrónico')
              button.btn.btn-primary.mx-auto(type='submit') Subscrirse
