doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='Daniel Ramírez Huayanay')
        title RED BICICLETAS - La primera red online de ciclistas urbanos
        link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
        // Core theme CSS (includes Bootstrap)
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')
        // Make sure you put this AFTER Leaflet's CSS
        script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')
    body
        block header
            // Navigation
            nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
              .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') RED BICICLETAS
                button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                  | Menu
                  i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                  ul.navbar-nav.ml-auto
                    li.nav-item
                      a.nav-link.js-scroll-trigger(href='#about') Nosotros
                    li.nav-item
                      a.nav-link.js-scroll-trigger(href='#projects') Bicicletas
                    li.nav-item
                      a.nav-link.js-scroll-trigger(href='#signup') Contacto
            // Masthead            
        block content
            
        block foot     
            // Contact
            section.contact-section.bg-black
              .container
                .row
                  .col-md-4.mb-3.mb-md-0
                    .card.py-4.h-100
                      .card-body.text-center
                        i.fas.fa-map-marked-alt.text-primary.mb-2
                        h4.text-uppercase.m-0 Dirección
                        hr.my-4
                        .small.text-black-50 Los Unidos #520
                  .col-md-4.mb-3.mb-md-0
                    .card.py-4.h-100
                      .card-body.text-center
                        i.fas.fa-envelope.text-primary.mb-2
                        h4.text-uppercase.m-0 Correo
                        hr.my-4
                        .small.text-black-50
                          a(href='#!') contacto@redbicis.com
                  .col-md-4.mb-3.mb-md-0
                    .card.py-4.h-100
                      .card-body.text-center
                        i.fas.fa-mobile-alt.text-primary.mb-2
                        h4.text-uppercase.m-0 Teléfono
                        hr.my-4
                        .small.text-black-50 +1 (555) 902-8832
                .social.d-flex.justify-content-center
                  a.mx-2(href='#!')
                    i.fab.fa-twitter
                  a.mx-2(href='#!')
                    i.fab.fa-facebook-f
                  a.mx-2(href='#!')
                    i.fab.fa-github            
            // Footer
            footer.footer.bg-black.small.text-center.text-white-50
              .container Copyright &copy; RED BICICLETAS 2020
            // Bootstrap core JS
        block scripts
          script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
          script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
          // Third party plugin JS
          script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
          // Core theme JS
          script(src='/js/scripts.js')
          script(src='/js/map.js')
