
extends ../layout

block content
    body.bicis_index
        b
        .masthead
          .container.d-flex.h-100.align-items-center
            .mx-auto.text-center
                .divsin.blanco    
                  a(href='/bicicletas') Volver
                  
                  br
                  br
                  br  
  
                  h2(size='36') Nueva Bicicleta  
                  form(action='/bicicletas/create' method='post')
                    label(for='id') ID:
                    br
                    input#id(type='text' name='id')
                    br
                    br
                    
                    label(for='color') Color:
                    br
                    input#color(type='text' name='color')
                    br
                    br
                    label(for='modelo') Modelo:
                    input#modelo(type='text' name='modelo')
                    br
                    br
                    label(for='lat') Latitud:
                    input#lat(type='text' name='lat')
                    br
                    br
                    label(for='lng') Longitud:
                    input#lng(type='text' name='lng')
                    br
                    br
                    input.link-button(type='submit' value='OK')
      
    
    
  
