extends ../layout
block content
  body.bicis_index
      .masthead
        .container.d-flex.h-100.align-items-center
          .mx-auto.text-center
              .divsin
                  table.table-dark.table.table-bordered
                    thead 
                      tr
                        th(scope='col') #
                        th(scope='col') Color
                        th(scope='col') Modelo
                        th(scope='col') Ubicacion
                        th(scope='col')
                        th(scope='col')
                      tbody
                        each bici in bicis
                          tr
                            td(scope='row')
                              = bici.id
                            td= bici.color
                            td= bici.modelo
                            td= bici.ubicacion
                            td
                              a(href= 'bicicletas/'+bici.id + '/update') Editar
                            td
                              form.inline(method='post' action='bicicletas/'+bici.id+'/delete')
                                input(type='hidden' name='id' value= bici.id)
                                button.link-button(type='submit' name='submit_param' value ='submit_value' class='btn')
                                  = 'Eliminar'
                  br
                  br
                  br
                  a.linksin(href='/bicicletas/create') 
                    b Agregar nueva bicicleta
