
extends ../layout

block content
    body.bicis_index
        .masthead
          .container.d-flex.h-100.align-items-center
            .mx-auto.text-center
                .divsin.blanco    
                  a(href='/bicicletas') Volver
                  
                  br
                  br
                  br  
  
                  h2(size='36') Nueva Bicicleta 
                  form(action=`/bicicletas/${bici.id}/update` method='post')
                    label(for='id') ID:
                    br
                    input#id(type='text' name='id' value=bici.id)
                    br
                    label(for='color') Color:
                    br
                    input#color(type='text' name='color' value=bici.color)
                    br
                    label(for='modelo') Modelo:
                    br
                    input#modelo(type='text' name='modelo' value=bici.modelo)
                    br
                    label(for='lat') Latitud:
                    input#lat(type='text' name='lat' value=bici.ubicacion[0])
                    br
                    label(for='lng') Longitud:
                    input#lng(type='text' name='lng' value=bici.ubicacion[1])
                    br
                    br
                    input.link-button(type='submit' value='OK')
      
    
    
  
